<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Men</title>
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{css/mystyle.css}">
</head>



<body>
<h1 th:each="men : ${allMens}"
    th:text="${men}"></h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand my-font" th:href="@{/home}">MYSTYLE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link my-font"th:href="@{/home}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link my-font" th:href="@{/women}" >Women</a>
        </li>
        <li class="nav-item active ">
            <a class="nav-link my-font" th:href="@{/men}">Man</a>
        </li>
        <li class="nav-item">
            <a class="nav-link my-font" th:href="@{/kids}">Kids</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/customer}"></a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">

            <a class="layout-header-link link" th:href="@{/login}"><span>Sign in </span></a>
            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
        </li>

    </ul>
</div>
</nav>
<br>
<br>
<head>
    <title>w001 </title>
</head>


<Body BGCOLOR="pink" TEXT="1E90FF">
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.img.in.th/images/0cd4971ac440c2dc5ee251df6b07841f.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> MYSTYLE  2-pack Easy-iron Shirts ฿999.00</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="  https://www.img.in.th/images/04312a5a16100b2767046aae6337d10d.jpg       " alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">MYSTYLE Printed Sweatshirt ฿399.00</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="   https://www.img.in.th/images/b66bc832b264f908dd310e3aca1ed046.jpg        " alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">MYSTYLE Sweatshirt Relaxed Fit ฿799.00 </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 18px;">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="   https://www.img.in.th/images/95bf217f1dc16819141865e60acb2622.jpg          " alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">MYSTYLE Printed Hoodie
                        ฿999.00
                         </p>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="     https://www.img.in.th/images/2ddc29b58bd89870ad542c536fb4ad43.jpg      " alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">MYSTYLE Slim Tapered Jeans
                        ฿1,099.00
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="   https://www.img.in.th/images/5758ceaf109b89568f671e25cda4e7a2.jpg        " alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">MYSTYLE  Shirt Jacket Relaxed Fit
                        ฿1,399.00  </p>
                </div>
            </div>
        </div>


    </div>
</div>








</body>
</html>